
<p-dialog [(visible)]="visibleDialog" [style]="{width: '450px'}" header="{{accion}} Caja: {{this.openCashModel.idCaja}} de {{this.user.nombre}}" [modal]="true"styleClass="p-fluid">
<h5>Sucursal:{{this.user.ubicacion}}</h5>

    <ng-template pTemplate="content" >

        <ng-container *ngIf="accion == 'Abrir'; else cerrarTemplate">
            <div class="field">
                <label for="descripcion">Monto en caja</label>
                <input type="number" pInputText id="descripcion" [(ngModel)]="openCashModel.monto" required />
                <small class="p-error" *ngIf="submitted && !openCashModel.monto || openCashModel?.monto == 0">El monto
                    es requerido.</small>
            </div>
            <div class="field">
                <label for="descripcion">Fecha y Hora</label>
                <p-calendar [(ngModel)]="fecha" [showTime]="true" [showSeconds]="true" inputId="time" required="true"
                    dateFormat="dd/mm/yy" disabled="true"></p-calendar>
                <small class="p-error" *ngIf="submitted && !fecha">La fecha y hora es requerida.</small>
            </div>
        </ng-container>

        <!-- EN CERRAR MOSTRAR SOLO CAMPOS CERRAR -->
        <ng-template #cerrarTemplate>
            <ng-container *ngIf="accion == 'Cerrar'; else statusTemplate">

                <h5>Fondo en caja:<button pButton pRipple  type="button"
                    class="p-button-rounded p-button-help" label="{{openCashModel.monto| currency:'MXN' }}"></button> </h5>

                <div class="field">
                    <label for="descripcion">Monto Cierre</label>
                    <input type="number" pInputText id="descripcion" [(ngModel)]="openCashModel.montoCierre" required />
                    <small class="p-error"
                        *ngIf="submitted && !openCashModel.montoCierre || openCashModel?.montoCierre == 0">El monto
                        cierre es requerido.</small>
                </div>
                <div class="field">
                    <label for="descripcion">Fecha y Hora Cierre:</label>
                    <label >{{this.fechaCierre| date: 'dd/MM/yyyy HH:mm'}}</label>

                    <!-- <p-calendar [(ngModel)]="fechaCierre" [showTime]="true" [showSeconds]="true" inputId="time"
                        required="true" dateFormat="dd/mm/yy"></p-calendar>
                    <small class="p-error" *ngIf="submitted && !fechaCierre">La fecha y hora de cierre es
                        requerida.</small> -->
                </div>

                <div class="field">
                    <label for="motivo">Motivo Direrencia</label>
                    <input  pInputText id="motivo" [(ngModel)]="motivo" />
                    <small class="p-error" *ngIf="submitted && openCashModel.monto+this.totalVentas!=openCashModel.montoCierre">Hay diferencia, Agregar motivo.</small>
                </div>


                <p-divider align="center">
                    <span class="p-tag">Información de caja</span>
                </p-divider>
                <div class="row">
                    <h5>Total efectivo:  <p-chip  label="{{totalEfectivodata| currency:'MXN' }}"></p-chip>  </h5>
                    <h5>Total con tarjeta:<p-chip  label="{{totalTarjetadata| currency:'MXN' }}"></p-chip>   </h5>
                    <h5>Total Multiple:<p-chip  label="{{totalMultipledata| currency:'MXN' }}"></p-chip> </h5>
                    <h5>Total Ventas:<p-chip  label="{{totalVentas| currency:'MXN' }}"></p-chip></h5>
                    <h5>Total en caja,Fondo mas ventas en efectivo:<p-chip  label="{{openCashModel.monto+totalEfectivodata| currency:'MXN' }}"></p-chip></h5>
                </div>
            </ng-container>
        </ng-template>

        <!-- EN STATUS MOSTRAR TODOS LOS DATOS -->
        <ng-template #statusTemplate pTemplate="rowexpansion">
            <div class="field">
                <label for="descripcion">Fondo en caja</label>
                <input type="number" pInputText id="descripcion" [(ngModel)]="openCashModel.monto" required readonly />
            </div>
            <div class="field">
                <label for="descripcion">Fecha y Hora</label>
                <p-calendar [(ngModel)]="fecha" [showTime]="true" [showSeconds]="true" inputId="time" required="true"
                    dateFormat="dd/mm/yy" readonlyInput="true" disabled="true"></p-calendar>
            </div>
            <div class="field">
                <label for="descripcion">Monto Cierre</label>
                <input type="number" pInputText id="descripcion" [(ngModel)]="openCashModel.montoCierre" required
                    readonly />
            </div>
            <div class="field">
                <label for="descripcion">Fecha y Hora Cierre</label>
                <p-calendar [(ngModel)]="fechaCierre" [showTime]="true" [showSeconds]="true" inputId="time"
                    required="true" dateFormat="dd/mm/yy" readonlyInput="true" disabled="true"></p-calendar>
            </div>
            <p-divider align="center">
                <span class="p-tag">Información de caja</span>
            </p-divider>
            <div class="row">
                <h5>Total efectivo:  <p-chip  label="{{totalEfectivodata| currency:'MXN' }}"></p-chip>  </h5>
                <h5>Total con tarjeta:<p-chip  label="{{totalTarjetadata| currency:'MXN' }}"></p-chip>   </h5>
                <h5>Total Multiple:<p-chip  label="{{totalMultipledata| currency:'MXN' }}"></p-chip> </h5>
                <h5>Total Ventas:<p-chip  label="{{totalVentas| currency:'MXN' }}"></p-chip></h5>
                <!-- <h5>Total en caja:<p-chip  label="{{openCashModel.monto+totalVentas| currency:'MXN' }}"></p-chip></h5> -->
                <h5>Total en caja,Fondo mas ventas en efectivo:<p-chip  label="{{openCashModel.monto+totalEfectivodata| currency:'MXN' }}"></p-chip></h5>
            </div>


        </ng-template>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cerrar" icon="pi pi-times" type="button" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="accion == 'Status'"
            (click)="saveCaja()"></button>
    </ng-template>

</p-dialog>
