/* General */
.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fa2b2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo {
  max-width: 150px;
  margin: 0 auto 20px;
  display: block;
}

.card {
  width: 90%; /* Se ajusta al tamaño de la pantalla */
  max-width: 500px; /* Ancho máximo */
  padding: 30px;
  background-color: rgb(153, 102, 153);
  color: rgb(236, 236, 34);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

label {
  color: rgb(14, 10, 10);
}

/* Responsividad */
@media (min-width: 768px) {
  .card {
      padding: 40px;
  }
}

@media (min-width: 1920px) {
  .card {
      padding: 50px;
  }
}
