.container {
    top: 10;
    margin: 800;
    padding: 800;
    width: 100%;
    height: auto;
    display: block;
    background-color: #cdb2ec;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    overflow: hidden;
  }
  .logo {
    
    margin: 100;
    padding: 100;
    width: 100%;
    
  }
  .card{
    margin-top:100px ;
    border: #cdb2ec;
    width: 500px;
    padding:100px;
    position: center ;
    top:5%;
    left:50%;
    transform: translate(10%, 0%);

    background-color: rgb(153,102,153);
    color: rgb(236, 236, 34);
}
   


.card label h1

h6{
color: rgb(14, 9, 9);

}
label{
    color:rgb(14, 10, 10);
}