<div [ngClass]="{'container': statusPanubicacion <= 10}">
    <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header text-uppercase">Ventas</div>
        <span class="lstick"></span>

        <div class="card-body">
            

            <div class="row">
                

                <div class="col-md-9">
                    <div class="row">

                        <div class="container">
                            <div class="row">
                              
                                <div class="col-6 md:col-4">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                        <input type="text" pInputText placeholder="Cliente" [(ngModel)]="queryStringClient">
                                        <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"  (click)="getResultsClients()"></button>
                                        <button type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-danger" ></button>
                                    </div>
                               
                              </div>
                              <div class="col-6 md:col-4">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                    <input type="text" pInputText placeholder="Ingrese el nombre del producto/SKU/codigo de barras" [(ngModel)]="queryString" autofocus   (change)="onchangeShear()">
                                    <!-- <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button> -->
                                </div>
                           
                          </div>
                              
                            </div>
                          </div>
                        <app-loading *ngIf="loading"></app-loading>
                        <div *ngIf="!loading">
                            <p-table #dt [value]="articlesShell" [columns]="cols" [rows]="rows" [paginator]="true"
                                [globalFilterFields]="['nombre','descripcion']" [responsive]="true"
                                responsiveLayout="scroll" [rowHover]="true" dataKey="idProducto"
                                currentPageReportTemplate="Mostrando {first} a {last}  productos"
                                [showCurrentPageReport]="true" styleClass="p-datatable-sm">
                                <ng-template pTemplate="caption">
                                    <div class="flex align-items-center justify-content-between">

                                        <div class="row">

                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                        </th>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            <div class="flex justify-content-center align-items-center"
                                                [ngStyle]="{'width': col.field == 'nombre' ? '7em' : '15em'}">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </div>
                                        </th>
                                        <th style="width: 1em;">X</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">

                                    <tr>
                                        <td>
                                            <div style="display: inline-flex">
                                                <button pButton pRipple icon="pi pi-minus"
                                                    class="p-button-rounded p-button-danger"
                                                    (click)="deleteProduct(rowData,i)"></button>
                                                <button pButton pRipple icon="pi pi-plus"
                                                    class="p-button-rounded p-button" (click)="addArticle(rowData,i)"
                                                    style="margin-left: 3px;"></button>
                                            </div>
                                        </td>


                                        <td *ngFor="let col of columns">
                                            {{rowData[col.field]}}
                                        </td>


                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <label>Articulos: {{articulos}}</label>
                                </div>
                                <div class="col-4">
                                    <label>Totales: {{total}}</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                          
                            <div class="col-12 md:col-4">
                                <p-divider>Datos de compra</p-divider>
                    <div class="row">
                        <div class="col-4">
                            <label>Cliente:{{this.clienteName}}</label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-4">
                            <label>Total a pagar:0.00</label>
                        </div>
                        <div class="col-4">
                            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger "
                                (click)="cancelarCompra()">Cancelar</button>
                        </div>

                    </div>
                          </div>
                       
                          
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <p-divider>Producto</p-divider>
                    <div class="row justify">

                        <div class="col-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded "
                                icon="pi pi-shopping-cart" (click)="openProductsM()"></button>
                        </div>

                    </div>
                    <p-divider>Caja</p-divider>
                    <div class="row justify">
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-inbox"
                                (click)="openCashRegister()"></button>
                        </div>
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-box"
                                (click)="closeCashRegister()"></button>
                        </div>
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-book"
                                (click)="statusCashRegister()"></button>
                        </div>
                    </div>

                    <p-divider>Acciones</p-divider>
                    <div class="row justify">
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded"
                                icon="pi pi-file-o"></button>
                        </div>
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded"
                                icon="pi pi-desktop"></button>
                        </div>
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger"
                                icon="pi pi-file-excel"></button>
                        </div>

                    </div>
                    <p-divider>Tipos de pago</p-divider>
                    <div class="row justify">

                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded"
                                icon="pi pi-credit-card"></button>
                        </div>
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded p-button-help"
                                icon="pi pi-id-card"></button>
                        </div>
                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded p-button-secondary "
                                icon="pi pi-money-bill"></button>
                        </div>

                        <div class="col-sm-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded p-button-success "
                                icon="pi pi-wallet"></button>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>

    </div>
   
    <app-open-cash [_accion]="accion" [_caja]="cashModel" *ngIf="accion != ''"></app-open-cash>
    <app-open-productos [_accion]="openProducts" [_articles]="articles" [_articlesSelected]="articlesSelected"
        *ngIf="openProducts != ''" (_articulosS)="addProductVenta($event)"></app-open-productos>
</div>