/* Estilos para los contenedores */
.producto, .caja, .acciones,.cajaclose {
  margin-bottom: 20px; /* Agrega un margen inferior de 20px */
  cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
}

/* Estilos compartidos para los botones */
.button-container {
  border-radius: 8px; /* Borde redondeado */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.button-container:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo al pasar el cursor */
}

.button-content {
  padding: 20px; /* Espacio interior */
}

.font-bold {
  font-weight: bold; /* Texto en negrita */
}

.text-white {
  color: #fff; /* Color de texto blanco */
}

/* Estilos específicos para cada tipo de contenedor */
.producto .bg-purple-200 {
  background-color: #7885f3; /* Color morado */
}
.caja .bg-blue-200 {
  background-color: #4891cd; /* Color azul */
}
.cajaclose .bg-blue-250 {
  background-color: #73b9f3; /* Color azul */
}

.acciones .bg-green-200 {
  background-color: #5bd261; /* Color verde */
}
.acciones .bg-red-200 {
  background-color: #ec6161; /* Color verde */
}
/* Estilos compartidos entre los contenedores */
.p-3 {
  padding: 0.75rem; /* 12px de relleno en todos los lados */
}

.text-white {
  color: #fff; /* Color de texto blanco */
}

.h-6rem {
  height: 6rem; /* Altura de 6rem */
}

.border-round {
  border-radius: 8px; /* Borde redondeado con un radio de 8px */
}

.m-0 {
  margin: 0; /* Sin margen */
}
.custom-height {
  height: 100px; /* Define la altura deseada en píxeles o cualquier otra unidad de medida */
}
.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -60px; /* Ajusta según sea necesario para la posición vertical */
  left: 50%; /* Ajusta según sea necesario para la posición horizontal */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con más transparencia */
  color: white; /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente */
  padding: 8px 12px; /* Espaciado interno */
  border-radius: 4px; /* Borde redondeado */
  opacity: 1; /* Mantener siempre visible */
  transform: translateX(-50%) translateY(-20px); /* Posición inicial */
  animation: bounce 2s infinite; /* Animación de salto con un tiempo más largo */
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Se alinea con el borde superior del tooltip */
  left: 50%; /* Se alinea con el centro del tooltip */
  margin-left: -8px; /* Ajusta según sea necesario para la posición horizontal */
  border-width: 8px; /* Tamaño de la flecha */
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent; /* Color de la flecha con más transparencia */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(-20px); /* Posición inicial */
  }
  40% {
    transform: translateX(-50%) translateY(-30px); /* Posición de rebote */
  }
  60% {
    transform: translateX(-50%) translateY(-25px); /* Posición de rebote */
  }
}
