<div [ngClass]="{'container': statusPantalla <= 10}">

    <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header text-uppercase">Home</div>
        <span class="lstick"></span>
        <div class="card-body">
            <label>Home Works!!</label>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facere hic praesentium nisi! Reiciendis id, alias asperiores unde commodi saepe porro recusandae doloremque corporis dolorum ea nostrum aut voluptates quisquam?</p>
        </div>
    </div>

</div>