<p-dialog [(visible)]="visibleDialog" [style]="{width: '450px'}" header="Apartar Articulo" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
        
        <div class="field">
            <label for="articulo">Seleciona Articulo (Articulos sin existencia)</label>
            <p-autoComplete [(ngModel)]="selectedArticuloAdvanced" [suggestions]="filteredArticulos"    placeholder="Ingrese el nombre del articulo" size="40"
            (completeMethod)="getResultsArticulos($event)" field="descripcion" [dropdown]="true"  >
            <ng-template let-articulo pTemplate="item">
              <div class="articulo-item ">
                <div>{{articulo.sku }} {{articulo.descripcion}}</div>  
            </div>
            </ng-template>
          </p-autoComplete>
          <p *ngIf="filteredArticulos.length == 0 "> Este producto no existe o tiene inventario</p>
        </div>
        <div class="field">
            <label for="idTalla">Talla</label>
            <p-dropdown [options]="listTallas"  optionValue="idTalla"  [(ngModel)]="selectedTalla" placeholder="Selecciona una talla" optionLabel="nombre" [style]="{'width': '100%'}"></p-dropdown>
        </div>
        <br>
        <div class="field">
            <label for="nombre">Nombre Completo</label>
            <input type="text" pInputText id="nombre" [(ngModel)]="nombreCompleto" required autofocus [disabled]="true" />
            <small class="p-error" *ngIf="submitted && !cliente.nombre">El nombre es requerido.</small>
            <small class="p-error" *ngIf="submitted && cliente.nombre?.length > 0 && cliente.nombre?.length <= 2">El nombre debe contener minimo 3 caracteres</small>
            </div>
        <br>
        <div class="field">
            <label for="direccion">Dirección</label>
            <input type="text" pInputText id="direccion" [(ngModel)]="cliente.direccion" [disabled]="true">
        </div>

        <div class="field">
            <label for="telefono1">Telefono</label>
            <input type="text" pInputText id="telefono1" [(ngModel)]="cliente.telefono1" [disabled]="true" />
           
        </div>


        <br>
        <div class="field">
            <label for="fecha">Fecha</label>
            <input type="date" pInputText id="fecha"  [(ngModel)]="apartado.fecha"[disabled]="false" />
           
        </div>
       
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" type="button" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="addApartado()"></button>
    </ng-template>

</p-dialog>