<p-dialog [(visible)]="visibleDialog" [style]="{width: '960px'}" header="{{accion}} Cancelacion" [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="content">

      <ng-container *ngIf="accion == 'Agregar'; ">

          <div class="field">
              <div class="row">
                  <div class="col-9">
                      <label for="noTicket" class="lbl">No Ticket</label>
                      <input type="text" pInputText id="noTicket" [(ngModel)]="noTicketVenta" placeholder="Ingresa el no ticket del que desea realizar algún cambio..." autofocus (keyup)="findSale($event)" />
                  </div>
                  <div class="col-3" style="padding-top: 1.5em;">
                      <p-button label="Buscar Venta" icon="pi pi-search" [loading]="loadResultVenta" [disabled]="noTicketVenta.length == 0" (onClick)="findSale(null)"></p-button>
                  </div>
              </div>
          </div>
          <hr>

          <div class="field" *ngIf="ventaByNoTicket.length > 0">
              <div class="text-center">
                  <h4>Datos de la Venta</h4>
              </div>

              <p-table [value]="ventaByNoTicket" dataKey="idVenta" responsiveLayout="scroll" selectionMode="single" [(selection)]="selectedVenta">
                  <ng-template pTemplate="header">
                      <tr>
                          <th style="width: 3rem"></th>
                          <th>ID Venta</th>
                          <th>No Ticket</th>
                          <th>Fecha</th>
                          <th>Tipo Pago</th>
                          <th>Tipo Venta</th>
                          <th>No Articulos</th>
                          <th>Subtotal</th>
                          <th>Total</th>
                          <th>Status</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-venta let-expanded="expanded">
                      <tr>
                          <td >
                              <p-radioButton  name="venta" value="venta" [(ngModel)]="selectedVenta" [value]="venta" *ngIf="venta.status !== 'CANCELADA'"></p-radioButton >
                          </td>
                          <td>
                              <p-badge [value]="venta.idVenta" severity="primary" styleClass="mr-2" size="large"></p-badge>
                          </td>
                          <td>
                              <p-badge [value]="venta.noTicket" severity="danger" styleClass="mr-2" *ngIf="venta.status === 'CANCELADA'"></p-badge>
                              <p-badge [value]="venta.noTicket" severity="success" styleClass="mr-2" *ngIf="venta.status === 'CONCLUIDA'"></p-badge>
                          </td>
                          <td>{{venta.fecha}}</td>
                          <td>{{venta.tipoPago}}</td>
                          <td>{{venta.tipoVenta}}</td>
                          <td>
                              <p-badge [value]="venta.noArticulos" severity="primary" styleClass="mr-2" size="large"></p-badge>
                          </td>
                          <td>{{venta.subtotal | currency:'MXN' }}</td>
                          <td>{{venta.total | currency:'MXN' }}</td>
                          <td>{{venta.status }}</td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="rowexpansion" let-venta>
                      <tr>
                          <td colspan="10">
                              <div class="p-3">
                                  <p-divider align="center">
                                      <span class="p-tag">Detalle de Productos de la Venta</span>
                                  </p-divider>

                                  <p-table [value]="venta.ventaArticulo" dataKey="idVentaArticulo">
                                      <ng-template pTemplate="header">
                                          <tr>
                                              <th>Imagen</th>
                                              <th pSortableColumn="articulo.sku">SKU
                                                  <p-sortIcon field="articulo.sku"></p-sortIcon>
                                              </th>
                                              <th pSortableColumn="articulo.descripcion">Descripción
                                                  <p-sortIcon field="articulo.descripcion"></p-sortIcon>
                                              </th>
                                              <th pSortableColumn="cantidad">Cantidad
                                                  <p-sortIcon field="cantidad"></p-sortIcon>
                                              </th>
                                              <th pSortableColumn="precioUnitario">Precio Unitario
                                                  <p-sortIcon field="precioUnitario"></p-sortIcon>
                                              </th>
                                              <th pSortableColumn="subtotal">Subtotal
                                                  <p-sortIcon field="subtotal"></p-sortIcon>
                                              </th>
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body" let-article let-expanded="expandedArticulos">
                                          <tr>
                                              <td> <img [src]="article.articulo.imagen" width="40" height="40%" class="shadow-1" /> </td>
                                              <td [ngClass]="{'text-decoration-line-through': article.cantidad == 0}">{{article.articulo.sku}}</td>
                                              <td [ngClass]="{'text-decoration-line-through': article.cantidad == 0}">{{article.articulo.descripcion}}</td>
                                              <td>
                                                  <p-badge [value]="article.cantidad" [severity]="article.cantidad == 0 ? 'danger' : 'warning'" styleClass="mr-2" size="large"></p-badge>
                                              </td>
                                              <td>{{article.precioUnitario | currency:'MXN' }}</td>
                                              <td>{{article.subtotal | currency:'MXN' }}</td>
                                          </tr>
                                      </ng-template>
                                  </p-table>
                              </div>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>

              <p-overlayPanel #panel [dismissable]="true" [showCloseIcon]="true" [draggable]="true" [style]="{'margin-left': margin_l, 'margin-top': margin_t}">

              </p-overlayPanel>
          </div>

      </ng-container>

  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" type="button" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Cancelar venta" icon="pi pi-check" class="p-button-danger" (click)="onSaveCambioDevolucion()"></button>
  </ng-template>

</p-dialog>
